<?xml version="1.0" encoding="UTF-8"?>
<mapper namespace="com.xuyao.test.other.orm.test.ILogDao">
    <select id="getList" resultType="com.xuyao.test.other.orm.test.Log">
        SELECT
          id, code, type
        FROM
          t_log
    </select>

    <select id="get" resultType="com.xuyao.test.other.orm.test.Log">
        SELECT
        id, code, type
        FROM
        t_log
        where id = 2
    </select>
</mapper>